<%- include('base') %>
<h2>Add New Supplier</h2>
<form method="POST">
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Supplier Name</label>
            <input type="text" class="form-control" name="name" required autofocus>
        </div>
        <div class="col-md-6">
            <label class="form-label">Contact Person</label>
            <input type="text" class="form-control" name="contact">
        </div>
        <div class="col-md-6">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" autocomplete="email">
        </div>
        <div class="col-md-6">
            <label class="form-label">Phone</label>
            <input type="tel" class="form-control" name="phone" autocomplete="tel">
        </div>
        <div class="col-12">
            <label class="form-label">Address</label>
            <textarea class="form-control" name="address" rows="3"></textarea>
        </div>
        <div class="col-md-6">
            <label class="form-label">Performance Score</label>
            <input type="number" class="form-control" name="performance" min="0" max="100" step="0.1">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary w-100">Add Supplier</button>
        </div>
    </div>
</form>
