<!DOCTYPE html>
<html>
<head>
    <title>Inventory Mobile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/static/manifest.json">
</head>
<body>
    <div id="app">
        <scan-interface></scan-interface>
        <inventory-list></inventory-list>
    </div>
    <script src="/static/mobile.js" type="module"></script>
</body>
</html>
